/*MAQUETTE 2 DESKTOP*/
:root {
  /* font-size */
  --h2-font-size: 20px;
  --h3-font-size: 15px;
  --description-fs: 12px;
  --lire-la-suite-fs: 8px;
  /* color */
  --vert-fonce: #102223;
  --vert-clair: #81bbc2;
  --vert-tres-clair: #58cdd2;
  --blanc: #ffffff;
  --noir: #000000;
}

* {
  margin: 0;
  padding: 0;

  body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
  }
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.411)),
    url("image_Mqt_2/bg-featured-home.jpg");
  background-position: center;
  background-size: cover;
  height: 550px;
  display: flex;
  flex-direction: column;
  > img {
    padding: 50px;
    width: 200px;
  }
  div {
    display: flex;
    justify-content: flex-end;
    padding-top: 150px;
    padding-left: 40%;
    padding-right: 30px;
  }
  p {
    color: white;
    font-size: 40px;
    width: 500px;
    font-size: 30px;
  }
}

main {
  padding: 50px 15%;
  section#newsSection {
    margin: 10px 0px 50px 0px;
    background-color: var(--noir);
    display: flex;
    justify-content: space-around;

    div#lastNews {
      width: 60%;
      display: flex;
      flex-direction: column;
      h2 {
        margin-bottom: 50px;
        background-color: var(--vert-fonce);
        padding: 10px;
        font-size: var(--h2-font-size);
      }
      div#listNews {
        background-color: var(--noir);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        article.news {
            margin: 10px;
          width: 45%;
          display: flex;
          > img {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
          div.description-left {
            padding-right: 60px;
            padding-left: 10px;
            h3 {
              margin-bottom: 15px;
              font-size: var(--h3-font-size);
              color: white;
            }
            p:first-of-type {
              margin-bottom: 15px;
              font-size: var(--description-fs);
              color: var(--vert-clair);
              line-height: 1.5;
            }
            p:nth-child(3) {
              margin-bottom: 15px;
              font-size: 10px;
              color: var(--vert-clair);
            }
            a {
              font-size: var(--lire-la-suite-fs);
              color: var(--vert-tres-clair);
            }
          }
        }
      }
    }
    div#featuredNews {
      width: 30%;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: var(--h2-font-size);
        background-color: var(--vert-fonce);
        padding: 10px;
        margin-bottom: 50px;
      }
      article {
        display: flex;
        margin-bottom: 40px;
        img {
          width: 110px;
          height: 80px;
          object-fit: cover;
        }
        div.description-right {
          margin-left: 10px;
        }
      }
    }
  }

  section#infosSection {
    background-color: blue;
    display: flex;
    justify-content: space-around;
    div#gallery {
      background-color: rgb(79, 95, 95);
      display: flex;
      flex-direction: column;
      width: 60%;
      h2 {
        font-size: var(--h2-font-size);
        background-color: rgb(130, 197, 255);
        padding: 10px;
        margin-bottom: 10px;
      }
      div#listPicture {
        background-color: #ff0000;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        img {
          width: 30%;
          object-fit: cover;
        }
      }
    }
    div#connectWithUs {
      background-color: rgb(211, 211, 211);
      display: flex;
      flex-direction: column;
      width: 30%;
      h2 {
        font-size: var(--h2-font-size);
        background-color: darkorchid;
        padding: 10px;
      }
      > ul {
        background-color: rgb(201, 143, 255);
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
          list-style: none;
          margin: 0px 10px;
          a {
            color: white;
          }
        }
      }
    }
  }
}

footer {
  background-color: darkseagreen;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav ul {
    display: flex;
    flex-direction: row;
    li {
      margin: 10px;
      list-style: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
